{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <nav>
        <div id="logo">
            <h1 id="logo">EduConecta</h1>
        </div>
    
        <div id="cabecalho">
            <a href="">Cursos</a>
        </div>
    </nav>
    <div action='' class="container">
        <h1>Cadastro de Usuário</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">criar</button>
        </form>
    </div>
</body>
</html>