{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" />

    <title>Document</title>
</head>
<body>
    
	<div class="fundo"></div>
	<div class="conteiner">
		<h1> Cadastro </h1>
		<form method="post" 
			action="{% if request.method == 'POST' %}{% url 'post-create' %}{% endif %}"
			enctype="multipart/form-data">

			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Criar</button> 
		</form>
	</div>
</body>
</html>