<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalhes do curso: {{curso.titulo}}</h1>
		<p>{{curso.criado_em}}</p>
		<img src="{{curso.image.url}}" width="300" alt="{{curso.titulo}}">
        <p>{{curso.descricao}}</p>  
        <a href="{% url 'curso-update' curso.id %}">Atualizar</a>
        <a href="{% url 'deletar-curso' curso.id %}">Deletar</a>
</body>
</html>