{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'cursos.css' %}" />
    <title>Document</title>
</head>
<body>
        <img class="titulo-curso" src="{{curso.image.url}}" >
          
        
            <div class="botoes">
                <a id="atualizar" class="botao" href="{% url 'curso-update' curso.id %}">Atualizar</a>
                <a id="excluir" class="botao" href="{% url 'deletar-curso' curso.id %}">Deletar</a>
                <a  id="adicionar" class="botao" href="{% url 'adicionar_aula' curso.id %}">Adicionar Nova Aula</a>
            </div>
            <h1 class="titulo">{{curso.titulo}}</h1>
            <div class="conteudo">
            <p>{{curso.criado_em}}</p>

            <p>{{curso.descricao}}</p>  
            
            <div class="bloco-aulas">
            <h1 class="h1aula">Aulas</h1>
            {% if aulas %}
                    {% for aula in aulas %}
                        <div class="aulas">
                            <h1 >{{ aula.titulo }}</h2>
                                <video controls>
                                    <source src=" {{aula.video.url}}" type="video/mp4">
                                    Seu navegador não suporta o formato de vídeo.
                                </video>
                            <p>{{aula.descricao}}</p>
                            <a href="{% url 'deletar_aula' aula.id %}">Excluir</a>
                                
                            
                        </div>
                    {% endfor %}
            {% else %}
                <p>Este curso ainda não tem aulas.</p>
            {% endif %}
        </div>
    </div>
    
    

</body>
</html>