{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <title>Login de Usuário</title>
</head>
<body>
    <div class="fundo"></div>
    <div action='' class="conteiner">
        <h2>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">entrar</button>
        </form>
    </div>
</body>
</html>

