body{
    background: linear-gradient(to bottom, #F2F2F2 50%, #1CA6A6);
    background-color: #F2F2F2;

    width: 100%;
    margin: 0;
}
body > nav {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

#cabecalho{
    background-color: #1CA6A6;
   
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    
}
#cabecalho > *{
    text-decoration: none;
    color: #BAD9D9;
    padding: 25px 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.link-button {
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    color: #fcfcfc; /* Cor do texto */
    text-decoration: underline; /* Adiciona sublinhado, como um link */
    cursor: pointer; /* Mostra o cursor de pointer */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte */
    padding: 0; /* Remove o padding */
} 


#logo{
    background-color: #1CA6A6;
    color: #BAD9D9;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
main{margin: 20px;
        
}
body > main > h1{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: #8C031C;
margin: 40px 0px;

}
body > main > img{
    display: block;
    margin: auto;
    border-radius: 15px;
    height: 400px;
    
    height: 400px;
    width: 100%;
    

}
.conteudo{
    background-color: #F2F2F2;
    display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 20px;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    

}
.cursos{
    height: 450px;
    background-color:#F2F2F2;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
      
}
h2{
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    transition: color 0.3s;
    text-transform: uppercase; 
    letter-spacing: 1px;        
    border-bottom: 2px solid #2980b9;
    padding-bottom: 10px;
    
}
#imagem{
    height: 20%;
    align-self: center;
}

p{
    text-align: start;
    height: 40%;
    margin-left:10% ;
    color: #4d5252;
}
.botao{
    background-color: #1CA6A6;
    padding: 7px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 8px;
    display: block;
    width: 8%;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #BAD9D9;
    font-size: 18px;
    
}
.botao2{
    
    background-color: #1CA6A6;
    padding: 6px 9px;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
    width: 90%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #BAD9D9;
    font-size: 14px;
    align-self: center;
    
}
nav>a .botao .botao2{
    transition: background-color 0.3s ease;
}
  .botao2:hover{
background-color: #BAD9D9;
color: #1CA6A6;
}
.botao:hover{
    background-color: #BAD9D9;
    color: #1CA6A6;
}
#cabecalho >a:hover{
    background-color: #BAD9D9;
    color: #1CA6A6;
}
footer{
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(to bottom, #39B0B0 , #1CA6A6);
    
    text-align: center;
    color: #BAD9D9;
    padding-top: 100px;

    
}
#pFooter{
    text-align: center;
    width: 100%;
    color: #f1f1f1;
    margin: 0;
}

@media (max-width: 1400px) {
    body > main > img{
        height: 350px;
    }
  }


  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #6b6666; 
    border-radius: 10px;  
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3; 
    border-radius: 10px;     
    border: 2px solid #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a; 
}

::-webkit-scrollbar {
    width: 5px;
}

